
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Thulisile Vangqa</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Thulisile Vangqa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/Photo.jpg' %}" >
					<hr>
					<h4>Hi I'm Thuli</h4>
					<p>I love coding and marketing</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About Me</h4>
					<hr>
					<p>I am innovation and enthusiastic. I treat any assignment that I am assiged to with a sense of responsibility, integrity honesty.</p>

					<p>I am able to handle multiple tasks on a daily basis, I always seek creative and solutions to problems.</p>

					<p>I am a dependable person who is great at time management,am flexible in my working hours, being able to work evenings and weekends. In 2015 I pursued a Marketing certificate from Damelin this qualification made me obsessed with customer satisfaction.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Work Experience</h5>
					<hr>
					<ul>
                        <li><strong>Intern Contact Creator and Researcher •Starlet Group tech • September 2020-2021.</strong></li>
                        <p>I was tasked with the responsibility of drafting the mission and vision statement of the organization, I was the content manager of the content and research team, I was also tasked with the responsibility of conducting research and my responsibilities also included making presentations and proposing ideas to the team. I have learned that I have the ability to mold the direction and structure of a business, I have realized that I have superb communication and team management skills. I am an innovative, talented and an enthusiastic visionary.</p>
                        <li><strong>Fashion Desinger • Thulisile Vangqa Clothing Creations• july 2015 – feb 2018</strong></li>
                        <p>My responsibilities included the creation of beautiful clothing and accessories, conduct research on fashion trends and design cloths that are aesthetically pleasing and also organise and manage the growth and development of the business. I have gained entrepreneurial skills and organisational management skills I have also learned to give satisfactory results for the growth of a company by meeting customer expectations and needs. I have realised that I am organised, resourceful and competent in dealing with people and in communicating ideas both verbally and in a writing.</p>
                    </ul>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Skills</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript, Cooperate Communication Skills, Stakeholder Liaison and Engagement Skills, Computer Skills MS Word, MS PowerPoint, MS Excel</p>
					<p>Creative Thinking Skills, Negotiation Skills, Management Skills, Customer Relationship Management, Customer Satisfaction and Retention Skills, Brand Management and Development Skills, Leadership Skills, Team player Skills, People’s Skills, Problem solving Skills, Business Management and Development, Content Creation.<p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Education</h5>
					<hr>
					<ul>
                        <li><strong>FET Certificate in marketing • jan 2017-December 2017• Damelin</strong></li>
                        <p>This qualification has equipped me with a broad understanding of customer relations, conflict resolution and the importance of customer relationship and retention for the long term sustainability of the organisation, it has revived my passion to always strive to achieve the right customer experience. It has stimulated my leadership capabilities and has equipped me with the ability to lead and work in a diverse team and also made me understand team dynamics better and thus solve them in a decisive manner. </p>
                        <li><strong>Systems Development • june 2020-ending july2021 • BElievers Care Society.</strong></li>
                        <p> This qualification has allowed me to use my marketing skills to create Systems that will solutions to business problems. I always seek to find technological and innovative solutions to human and business problems.I am optimistic about the future of technology both in South Africa and Africa. I believe every business should exist online in order to grow Sales, business relevance and to expand and reach more customers. </p>
                        <li><strong>STANDARD 12 (MATRIC) – Commercial Park Independent College</strong></li>
                        <p>Economics, Business Studies, Mathematical Literacy, History, English Home Language, IsiXhosa First Additional Language. </p>

                    </ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>My fundamental objective is to develop systems that will help organizations to grow and change the way they communicate with their customers and make it easy for them to solve customer problems and satisfy customer needs. My objective is to find a position that will afford me the opportunity to grow my career advance my existing skills and also learn new skills. I am looking to be part of an organization that will offer me real opportunities for progress an organization that will allow me to utilize my marketing and programming skills.</p>

				</div>
			</div>
		</div>
		<br>
	</div>
    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with me.</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>My Philosophy
          </h6>
          <p>
            “The highest activity a human being can attain is learning for understanding, because to understand is to be free.” - Baruch Spinoza
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            My Skills
          </h6>
          <p>
            <a href="#!" class="text-reset">Python</a>
          </p>
          <p>
            <a href="#!" class="text-reset">HTML, CSS</a>
          </p>
          <p>
            <a href="#!" class="text-reset">JavaScript</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Cooperate Communication Skills</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            My Hobbies
          </h6>
          <p>
            <a href="#!" class="text-reset">Reading</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Playing Sports</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Attending Coding Bootcamps</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Coding</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Randburg Windsor East</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> 072 110 4452</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Thulisile Vangqa</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


</body>
</html>